/* component styles */
.ds.button {
  display: inline-block;
  cursor: pointer;

  color: var(--ds-color-text-default);
  background-color: var(--ds-color-background-default);
  border-color: var(--ds-color-border-high-contrast);
  border-style: solid;
  border-width: var(--ds-spacing-border-width);
  font-size: var(--ds-font-size-default);
  font-weight: var(--ds-font-weight-default);
  line-height: var(--ds-line-height-default);
  margin-block-end: var(--ds-spacing-input-margin-bottom);
  margin-inline-end: var(--ds-spacing-horizontal-large);
  padding-block: var(--ds-spacing-input-padding-vertical);
  padding-inline: var(--ds-spacing-horizontal-large);

  text-align: left;
  text-decoration: none;

  /* component states */
  &:hover {
    background-color: var(--ds-color-background-hover);
    border-color: var(--ds-color-border-high-contrast);
  }

  &:active {
    background-color: var(--ds-color-background-active);
    border-color: var(--ds-color-border-high-contrast);
  }

  &.positive {
    background-color: var(--ds-color-background-positive-default);
    color: var(--ds-color-text-button-positive);
    border-color: var(--ds-color-background-positive-default);

    &:hover {
      background-color: var(--ds-color-background-positive-hover);
      border-color: var(--ds-color-background-positive-hover);
    }

    &:active {
      background-color: var(--ds-color-background-positive-active);
      border-color: var(--ds-color-background-positive-active);
    }
  }
}
