/* component styles */

/* component variables
    --button-background-color: background color of the button
    --button-text-color: text color of the button
    --button-border-color: border color of the button

    --button-margin-left: left margin of the button
    --button-margin-bottom: bottom margin of the button
    --button-padding-vertical: vertical padding of the button
    --button-padding-horizontal: horizontal padding of the button
    --button-border-width: border width of the button
    --button-font-size: font size of the button
    --button-font-weight: font weight of the button
    --button-line-height: line height of the button
*/
.ds.button {
  display: inline-block;
  cursor: pointer;

  color: var(--color-text-default);
  background-color: var(--color-background-default);
  border-color: var(--color-border-high-contrast);
  border-style: solid;
  border-width: var(--spacing-border-width);
  font-size: var(--font-size-default);
  font-weight: var(--font-weight-default);
  line-height: var(--line-height-default);
  margin-block-end: var(--spacing-input-margin-bottom);
  margin-inline-end: var(--spacing-horizontal-large);
  padding-block: var(--spacing-input-padding-vertical);
  padding-inline: var(--spacing-horizontal-large);

  text-align: left;
  text-decoration: none;

  /* component states */
  &:hover {
    background-color: var(--color-background-hover);
    border-color: var(--color-border-high-contrast);
  }

  &:active {
    background-color: var(--color-background-active);
    border-color: var(--color-border-high-contrast);
  }

  &.positive {
    background-color: var(--color-background-positive-default);
    color: var(--color-text-button-positive);
    border-color: var(--color-background-positive-default);

    &:hover {
      background-color: var(--color-background-positive-hover);
      border-color: var(--color-background-positive-hover);
    }

    &:active {
      background-color: var(--color-background-positive-active);
      border-color: var(--color-background-positive-active);
    }
  }
}
