/* component styles */

/* component variables
    --button-background-color: background color of the button
    --button-background-color-hover: background color of the button on hover
    --button-background-color-active: background color of the button on active
    --button-text-color: text color of the button
    --button-border-color: border color of the button
    --button-border-color-hover: border color of the button on hover
    --button-border-color-active: border color of the button on active

    --button-margin-left: left margin of the button
    --button-margin-bottom: bottom margin of the button
    --button-padding-vertical: vertical padding of the button
    --button-padding-horizontal: horizontal padding of the button
    --button-border-width: border width of the button
    --button-font-size: font size of the button
    --button-font-weight: font weight of the button
    --button-line-height: line height of the button
*/
.ds.button {
  display: inline-block;
  cursor: pointer;

  color: var(--button-text-color, var(--color-text-default));
  background-color: var(
    --button-background-color,
    var(--color-background-default)
  );
  border-color: var(--button-border-color, var(--color-border-high-contrast));
  border-style: solid;
  border-width: var(--button-border-width, var(--spacing-border-width));
  font-size: var(--button-font-size, var(--font-size-default));
  font-weight: var(--button-font-weight, var(--font-weight-default));
  line-height: var(--button-line-height, var(--line-height-default));
  margin-block-end: var(
    --button-margin-bottom,
    var(--spacing-input-margin-bottom)
  );
  margin-inline-end: var(--button-margin-left, var(--spacing-horizontal-large));
  padding-block: var(
    --button-padding-vertical,
    var(--spacing-input-padding-vertical)
  );
  padding-inline: var(
    --button-padding-horizontal,
    var(--spacing-horizontal-large)
  );

  text-align: left;
  text-decoration: none;

  /* component states */
  &:hover {
    background-color: var(
      --button-background-color-hover,
      var(--color-background-hover)
    );
    border-color: var(
      --button-border-color-hover,
      var(--color-border-high-contrast)
    );
  }

  &:active {
    background-color: var(
      --button-background-color-active,
      var(--color-background-active)
    );
    border-color: var(
      --button-border-color-active,
      var(--color-border-high-contrast)
    );
  }

  /* TODO: move to separate state/intent classes file */
  &.positive {
    background-color: var(--color-background-positive-default);
    color: var(--color-text-button-positive);
    border-color: var(--color-background-positive-default);

    &:hover {
      background-color: var(--color-background-positive-hover);
      border-color: var(--color-background-positive-hover);
    }

    &:active {
      background-color: var(--color-background-positive-active);
      border-color: var(--color-background-positive-active);
    }
  }
}
