/*
TODO
- conditional (?) font size increase on large screens
- different heading sizes/spacing on different screen sizes
- how to make very opinionated styles (heading sizes in pairs, margin collapsing between them, etc) configurable/themable?
*/

html {
  color: #000;
  font-family: var(--font-family-sans);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-default);
  line-height: var(--line-height-default);
  text-wrap: pretty;
}

/* FIXME: we would need to add many more selectors here, everything that is a heading (in components) */
h1,
h2,
h3,
h4,
h5,
h6,
.heading-1,
.heading-2,
.heading-3,
.heading-4,
.heading-5,
.heading-6 {
  font-style: normal;
  margin-top: 0;
  max-width: var(--text-max-width);
}

h1,
.heading-1 {
  font-size: var(--font-size-h1);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-h1);
  padding-top: var(--nudge-h1);
  margin-bottom: calc(var(--sp-after-h1) - var(--nudge-h1));
}

h2,
.heading-2 {
  font-size: var(--font-size-h2);
  font-weight: var(--font-weight-h2);
  line-height: var(--line-height-h2);
  padding-top: var(--nudge-h2);
  margin-bottom: calc(var(--sp-after-h2) - var(--nudge-h2));
}

h3,
.heading-3 {
  font-size: var(--font-size-h3);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-h3);
  padding-top: var(--nudge-h3);
  margin-bottom: calc(var(--sp-after-h3) - var(--nudge-h3));
}

h4,
.heading-4 {
  font-size: var(--font-size-h4);
  font-weight: var(--font-weight-h4);
  line-height: var(--line-height-h4);
  padding-top: var(--nudge-h4);
  margin-bottom: calc(var(--sp-after-h4) - var(--nudge-h4));
}

h5,
.heading-5 {
  font-size: var(--font-size-default);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-default);
  padding-top: var(--nudge-h5);
  margin-bottom: calc(var(--sp-after-p) - var(--nudge-h5));
}

h6,
.heading-6 {
  font-size: var(--font-size-default);
  font-style: italic;
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-default);
  padding-top: var(--nudge-h6);
  margin-bottom: calc(var(--sp-after-p) - var(--nudge-h6));
}

/*
  Canonical specific:
  consecutive headings of the same size should collapse margin between them
*/
h1,
h2,
.heading-1,
.heading-2 {
  & + & {
    margin-top: calc(-1 * var(--sp-after-h1));
  }
}

h3,
h4,
.heading-3,
.heading-4 {
  & + & {
    margin-top: calc(-1 * var(--sp-after-h3));
  }
}

h5,
h6,
.heading-5,
.heading-6 {
  & + & {
    margin-top: calc(-1 * var(--sp-after-p));
  }
}

p {
  line-height: var(--line-height-default);
  margin-top: 0;
  margin-bottom: calc(var(--sp-after-p) - var(--nudge-p));
  max-width: var(--text-max-width);
  padding-top: var(--nudge-p);
}