@layer typography {
  :root {
    /* Agnostic values */
    --natural-line-height: calc((var(--ascender) - var(--descender)));
    --line-height-scale: calc(
      var(--natural-line-height) *
      1rem /
      var(--units-per-em)
    );
    --ascender-scale: calc(var(--ascender) * 1rem / var(--units-per-em));
  }

  /* Reset */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
  }

  /* Where the magic happens */
  /* Add or remove selectors as needed. The baseline alignment will apply to the selectors included here */
  h1,
  h2,
  h3,
  h4,
  p {
    --computed-line-height: var(
      --line-height,
      calc(var(--baseline-height) * var(--line-height-multiplier))
    );
    line-height: var(--computed-line-height);
    font-size: var(--font-size);
    background: #fededebb;

    --line-height-scale: calc(
      var(--natural-line-height) *
      var(--font-size) /
      var(--units-per-em)
    );
    --ascender-scale: calc(
      var(--ascender) *
      var(--font-size) /
      var(--units-per-em)
    );

    --baseline-position: calc(
      ((var(--computed-line-height) - var(--line-height-scale)) / 2) +
      var(--ascender-scale)
    );
    /*--top-nudge: 0.41em;*/
    --top-nudge: calc(
      var(--baseline-height) -
      mod(var(--baseline-position), var(--baseline-height))
    );
    --bottom-nudge: calc(var(--baseline-height) - var(--top-nudge));
    padding-top: var(--top-nudge);
    margin-bottom: calc(
      var(--bottom-nudge) +
      var(--space-after, 0) *
      var(--baseline-height)
    );
  }
}
